<shared-search-box
  (onValue)="getProductByName($event)"
  placeholder="Ingrese en nombre del producto y presione enter">
</shared-search-box>

<!--<p>{{productName.productName | json}}</p>-->

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  @for (product of products; track $index) {
    <div class="bg-gray-200 rounded-xl shadow-md overflow-hidden border border-red-950">
      <div class="p-4 flex items-center justify-between">
        <div class="pr-4">
          <p class="text-2xl font-semibold text-red-950">{{product.productName}}</p>
        </div>
        <div class="flex flex-col items-start">
          <div class="uppercase tracking-wide text-xs text-red-950 font-semibold">Fecha de creación</div>
          <p class="mt-1 text-red-950 text-xs">{{product.createdAt | date}}</p>
          <p class="mt-1 text-red-950">Precio: <span>{{product.price | currency}}</span></p>
        </div>
        <!-- Botones Editar y Eliminar en una fila -->
        <div class="flex space-x-3">
          <button
            class="px-4 py-2 bg-green-400 text-red-950 font-semibold rounded-2xl border border-green-900 hover:bg-green-900 transition-colors">
            Editar
          </button>
          <button
            (click)="deleteProductByName(product.productName)"
            class="px-4 py-2 bg-red-400 text-red-950 font-semibold rounded-2xl border border-red-950 hover:bg-red-500 transition-colors">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  }
</div>


