<div
  class="bg-white h-screen md:block shadow-xl px-3 w-30 md:w-60 lg:w-60 overflow-x-hidden transition-transform duration-300 ease-in-out"
  id="sidebar">
  <div class="space-y-6 md:space-y-10 mt-10">
    <h1 class="hidden md:block font-bold text-sm md:text-xl text-center">
      Dashwind<span class="text-red-950">.</span>
    </h1>

    <div class="space-y-3" id="profile">
      <img alt="Avatar user" class="w-10 md:w-16 rounded-full mx-auto"
           src="https://image.lexica.art/full_webp/3c0c18ae-5b81-4fcf-b5c8-4f2826204821"/>
      <div>
        <h2 class="font-medium text-xs md:text-sm text-center text-red-950">Eduard Pantazi</h2>
        <p class="text-xs text-gray-500 text-center">Administrator</p>
      </div>
    </div>

    <div class="flex flex-col space-y-2" id="menu">
      <!-- Products Menu -->
      <a
        class="text-sm font-medium text-gray-700 py-2 px-2 hover:bg-red-950 hover:text-white hover:text-base rounded-md transition duration-150 ease-in-out"
        href="#">
        <svg class="w-6 h-6 fill-current inline-block" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path>
        </svg>
        <span class="">Dashboard</span>
      </a>

      <a
        class="text-sm font-medium text-gray-700 py-2 px-2 hover:bg-red-950 hover:text-white hover:scale-105 rounded-md transition duration-150 ease-in-out"
        href="#">
        <svg class="w-6 h-6 fill-current inline-block" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z"></path>
        </svg>
        <span class="">Products</span>
      </a>

      <a
        class="text-sm font-medium text-gray-700 py-2 px-2 hover:bg-red-950 hover:text-white hover:scale-105 rounded-md transition duration-150 ease-in-out"
        href="#">
        <svg class="w-6 h-6 fill-current inline-block" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
          <path clip-rule="evenodd"
                d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2 1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2 1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"
                fill-rule="evenodd"></path>
        </svg>
        <span class="">Users</span>
      </a>

      <a
        class="text-sm font-medium text-gray-700 py-2 px-2 hover:bg-red-950 hover:text-white hover:scale-105 rounded-md transition duration-150 ease-in-out"
        href="#">
        <svg class="w-6 h-6 fill-current inline-block" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd"
                d="M10 2a8 8 0 100 16 8 8 0 000-16zM8 11a2 2 0 110-4 2 2 0 010 4zm5 0a2 2 0 110-4 2 2 0 010 4z"
                fill-rule="evenodd"></path>
        </svg>
        <span class="">Roles</span>
      </a>
    </div>

    <div class="flex justify-left mb-3">
      <button
        class=" text-sm font-medium text-gray-700 py-2 px-2 hover:bg-red-950 hover:text-white hover:scale-105 rounded-md transition duration-150 ease-in-out">
        <svg class="w-6 h-6 fill-current inline-block" fill="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15 17l-5-5 5-5v4h7v2h-7v4zM4 6v12a2 2 0 002 2h4v2H6a4 4 0 01-4-4V6a4 4 0 014-4h4v2H6a2 2 0 00-2 2z"></path>
        </svg>
        <span class="">Logout</span>
      </button>
    </div>


  </div>


</div>


